<div
    class="menu"
    *ngIf="menuOpen">
    <div class="u-centerXY u-column">
        <div class="work">
            <div
                class="active"
                [style.backgroundColor]="getTextColor()"></div>
            <h1>ghostface ipsum</h1>
        </div>
        <div class="work">
            <div
                class="active"
                [style.backgroundColor]="getTextColor()"></div>
            <h1>still in the league</h1>
        </div>
        <div class="work">
            <div
                class="active"
                [style.backgroundColor]="getTextColor()"></div>
            <h1>project unity</h1>
        </div>
        <div class="work">
            <div
                class="active"
                [style.backgroundColor]="getTextColor()"></div>
            <h1>hexadecimal time</h1>
        </div>
    </div>
</div>

<header
    class="header"
    [ngClass]="{'menu-open': menuOpen}">
    <p
        (click)="toggleMenu(!menuOpen)"
        [ngStyle]="{'color': getTextColor()}">
        <span *ngIf="!menuOpen">open</span>
        <span *ngIf="menuOpen">close</span>
        <!-- <span>projects</span> -->
    </p>
</header>

<article
    class="site"
    [ngClass]="{'menu-open': menuOpen}">
    <landing
        #landing
        [menuOpen]="menuOpen">
    </landing>
    <!-- <introduction></introduction>
    <showcase></showcase> -->
</article>

<footer class="footer">
    <p>&#xa9; 2017</p>
    <div class="u-flex">
        <a
            class="link"
            href="http://github.com/corbinsykes"
            target="_blank">
            <span class="fa fa-github"></span>
        </a>

        <a
            class="link"
            href="http://www.linkedin.com/in/corbinsykes"
            target="_blank">
            <span class="fa fa-linkedin"></span>
        </a>

        <a
            class="link"
            href="http://twitter.com/Corbin_Elliott"
            target="_blank">
            <span class="fa fa-twitter"></span>
        </a>

        <a
            class="link"
            href="mailto:corbin.sykes@gmail.com"
            target="_blank">
            <span class="fa fa-envelope-o"></span>
        </a>

        <a
            class="link"
            href="tel:1-216-386-1880">
            <span class="fa fa-phone"></span>
        </a>
    </div>
</footer>
