<div
    class="menu"
    [ngClass]="{'is-open': menuOpen}"
    *ngIf="menuOpen">
    <div class="u-flex u-column">
        <div
            class="work"
            [@itemAnimation]="'first'">
            <a
                class="link"
                href="mailto:corbin.sykes@gmail.com"
                subject="Greetings and Salutations, Corbin!">
                <div
                    class="active"
                    [style.backgroundColor]="getTextColor()">
                </div>
                <h1>email</h1>
            </a>
        </div>
        <div
            class="work"
            [@itemAnimation]="'second'">
            <a
                class="link"
                href="http://www.linkedin.com/in/corbinsykes"
                target="_blank">
                <div
                    class="active"
                    [style.backgroundColor]="getTextColor()">
                </div>
                <h1>linkedin</h1>
            </a>
        </div>
        <div
            class="work"
            [@itemAnimation]="'third'">
            <a
                class="link"
                href="tel:1-216-386-1880">
                <div
                    class="active"
                    [style.backgroundColor]="getTextColor()">
                </div>
                <h1>phone</h1>
            </a>
        </div>
        <div
            class="work"
            [@itemAnimation]="'fourth'">
            <a
                class="link"
                href="http://twitter.com/Corbin_Elliott"
                target="_blank">
                <div
                    class="active"
                    [style.backgroundColor]="getTextColor()">
                </div>
                <h1>twitter</h1>
            </a>
        </div>
    </div>
</div>

<header
    class="header"
    [ngClass]="{'menu-open': menuOpen}">
    <p
        (click)="toggleMenu(!menuOpen)"
        [ngStyle]="{'color': getTextColor()}">
        <span *ngIf="!menuOpen">get in touch</span>
        <span *ngIf="menuOpen">home</span>
    </p>
</header>

<article
    class="site"
    [ngClass]="{'menu-open': menuOpen}">
    <landing
        #landing
        [menuOpen]="menuOpen">
    </landing>
</article>

<footer class="footer">
    <p>&#xa9; 2017</p>
    <div class="u-flex">
        <a
            class="link"
            href="http://github.com/corbinsykes"
            target="_blank">
            <span class="fa fa-github"></span>
        </a>

        <a
            class="link"
            href="http://www.linkedin.com/in/corbinsykes"
            target="_blank">
            <span class="fa fa-linkedin"></span>
        </a>

        <a
            class="link"
            href="http://twitter.com/Corbin_Elliott"
            target="_blank">
            <span class="fa fa-twitter"></span>
        </a>

        <a
            class="link"
            href="mailto:corbin.sykes@gmail.com"
            subject="Greetings and Salutations, Corbin!">
            <span class="fa fa-envelope-o"></span>
        </a>

        <a
            class="link"
            href="tel:1-216-386-1880">
            <span class="fa fa-phone"></span>
        </a>
    </div>
</footer>
