// Breakpoints
$screen-md: 23.5rem;

// Visual Effects
$transition-timing: 0.436s;
$transition-timing--slow: 0.872s;

// Animations
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    0%, 100% {
        background-color: $transparent;
    }
    50% {
        background-color: $white;
    }
}